* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-lightyellow {
    background-color: #ffdf80;
    color: black;

}

.body {
    background-color: black;
    color: white;

}

.center_section {
    display: flex;
    justify-content: center;
}

.container_center {
    width: 1440px;
}

.ulyellow {
    /* border: 3px solid red; */
    padding: 0.8rem;
    list-style-position: inside;
    text-align: center;
    font-size: 1.2rem;
}


/* header start */
.logo_img img {
    padding: 1.5rem;
    object-fit: cover;
    width: 350px;
}

.logo_img {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;

}

.naviteam {
    border-right: 1px solid #000;
    border-left: none;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    padding: 0.6em;
}

.nonline {
    /* border-right: 1px solid #000; */
    border-right: hidden;
}

/* header end */


/* main start */


/* IMAGE START */


.img {
    /* justify-content: space-evenly; */
    justify-content: space-between;
    display: flex;
    width: auto;
    /* height: 650px; */
}


.img img {
    width: 365px;
    height: 532px;
    border-radius: 30px;
    border: 1px solid #ffdf80;
    margin: 2.5rem 0.5rem;
    object-fit: cover;
    object-position: 80% 100%;
    overflow: auto;

}

.imgshow {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    justify-content: center;
    overflow: hidden;

}

.image8 {
    padding: 15px;
    margin: 80px 0;
}

.imgshow img {
    border-radius: 30px;
    border: 1px solid black;
    width: 545px;
    height: 365px;
    margin: 20px;
}


/* IMAGE END */


/* FEATURE START */


.detailiteam {
    padding: 2rem;
    text-align: center;
    font-weight: 5em;
}

.featuredetail {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}



/* FEATURE START */


/* EVENT START */


.eventheader p {
    font-size: 30px;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 3rem;
}

.eventitle p {
    font-size: 20px;
    padding: 2rem;
}


/* IMAGE EVENT ONE START */


.event {
    padding: 0rem 7rem;
}

.eventimg {
    display: flex;
    overflow: auto;
    justify-content: space-between;
    margin: 6rem;
    /* margin: 1rem 0; */
}

.img9 img {
    width: 401px;
    height: 305px;
    object-fit: cover;
    /* object-position: 80% 100%; */
    /* overflow: auto; */
    border-radius: 30px;
    border: 1px solid #ffdf80;

}

.eventwedding {
    font-size: 26px;
    padding-left: 1.3rem;
    text-align: center;
    /* border: 1px solid red; */
    font-weight: 900;
    letter-spacing: 1px;
}

.thevent {
    font-size: 20px;
    text-align: right;
    padding: 1rem;
    word-spacing: 2px;
    font-weight: 400;
}

/* IMAGE EVENT ONE END */
/* IMAGE EVENT SECOND START */

.eventimg2 {
    display: flex;
    overflow: auto;
    justify-content: space-between;
    margin: 6rem;
    /* margin: 1rem 0; */
}

.img10 img {
    width: 401px;
    height: 305px;
    object-fit: cover;
    /* object-position: 80% 100%; */
    /* overflow: auto; */
    border-radius: 30px;
    border: 1px solid #ffdf80;

}

.eventwedding2 {
    font-size: 26px;
    padding-right: 1.3rem;
    text-align: center;
    /* border: 1px solid red; */
    font-weight: 900;
    letter-spacing: 1px;
}

.thevent2 {
    font-size: 20px;
    text-align: left;
    padding: 1rem;
    word-spacing: 2px;
    font-weight: 400;
}

/* IMAGE EVENT SECOND END */
/* IMAGE EVENT THIRD START */

.eventimg3 {
    display: flex;
    overflow: auto;
    justify-content: space-between;
    margin: 6rem;
    /* margin: 1rem 0; */
}

.img11 img {
    width: 401px;
    height: 305px;
    object-fit: cover;
    /* object-position: 80% 100%; */
    /* overflow: auto; */
    border-radius: 30px;
    border: 1px solid #ffdf80;

}

.eventwedding3 {
    font-size: 26px;
    padding-left: 1.3rem;
    text-align: center;
    /* border: 1px solid red; */
    font-weight: 900;
    letter-spacing: 1px;
}

.thevent3 {
    font-size: 20px;
    text-align: right;
    padding: 1rem;
    word-spacing: 2px;
    font-weight: 400;
}

/* IMAGE EVENT THIRD END */

/* EVENT END */

/* FORM START*/

.readyh1 {
    color: black;
    background-color: #ffdf80;
    text-align: center;
    padding: 0.8rem 0;
    font-size: 25px;
}

.mainform1 {
    color: black;
    background-color: #ffdf80;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    flex-direction: row;
    overflow: hidden;
    padding-bottom: 3rem;
}


.form1 {
    background-color: white;
    text-align: left;
    padding: 30px;
    /* border: 1px solid #000; */
    border-radius: 30px;
    margin: 1rem auto;
    font-style: normal;
    width: 621px;
    height: 531px;

}

.form1 input {
    border-radius: 30px;
    background: rgba(221, 191, 128, 0.5);
    width: 559px;
    height: 31px;
    margin: 1rem 0;
    padding: 0 10px;
    border: none;
}

.form1 label {
    font-size: 16px;
    height: 31px;
    margin: 20px 0;
    /* border: 1px solid red; */

}

.maindate {
    display: flex;
    align-items: flex-start;
}

#checkbox1 {
    width: 1.9rem;
    border-radius: 5px;
    margin-left: 3rem;

}

#checkbox2 {
    /* display: block; */
    border-radius: 8px;
    margin-left: 0.1rem;
    margin-bottom: 20px;
}

#date1 {
    width: 6.2rem;
    border-radius: 30px;
    text-align: center;
    margin: 17px 3px;
}

#submit1 {
    background: rgba(221, 191, 128, 0.5);
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    width: 177px;
    margin: 1em auto;
}

.quet {
    text-align: center;
    padding: 2em 0;
    font-size: 1.8em;
}

.questdetail {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 5rem;
    padding: 0 1rem;
}

/* --------------------------------------------ABOUT US CSS START -----------------------------------*/

/* IMG START */
.imgpraga {
    text-align: center;
    font-size: 1.4em;
    padding: 2em;
    font-size: 23px;
    font-weight: 500;
    word-spacing: 2px;
}


/* IMG END */

/* ASTRO START */

.celeb {
    padding: 1em;
}

.celeb1 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
}

.celeb2 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 500;
    padding-top: 0.3em;
    font-style: italic;
}

.celeb3 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1.3rem;
}

.celeb4 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}

/* ASTRO END */

/* INDOOR START */

.indoorh2 {
    text-align: center;
    padding-top: 2.5rem;
    font-size: 1.9rem;
    font-weight: 800;
}

.indoordetail {
    text-align: center;
    padding: 1.3em;
    font-size: 1.2rem;
    font-weight: 400;

}

.indoordetail1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;

}


.img1 {
    margin-bottom: 30px;
    padding: 20px;
    justify-content: space-evenly;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: nowrap;
    /* overflow: hidden; */
}

.img1 img {
    /* display: block; */
    border-radius: 1.9rem;
    border: 1px solid #ffff99;
    margin: 1rem 0.4rem;
    height: 420px;
    width: 300px;
    /* overflow: hidden; */
    object-fit: cover;
    /* object-position: 80% 100%; */
}

/* INDOOR END */
/* OUTDOOR START */
.outdoorh2 {
    text-align: center;
    padding-top: 2.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}


.outdoordetail {
    text-align: center;
    padding: 1.3em;
    font-size: 1.2rem;
    font-weight: 400;
}

.outdoordetail01 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.img2 {
    margin-bottom: 30px;
    padding: 20px;
    justify-content: space-evenly;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: nowrap;
    /* overflow: hidden; */


}

.img2 img {
    /* display: block; */
    border-radius: 1.8rem;
    border: 1px solid black;
    margin: 1rem 0.4rem;
    height: 420px;
    width: 300px;
    /* overflow: hidden; */
    object-fit: cover;
    /* object-position: 80% 100%; */
}


/* OUTDOOR END */
/* KITCHEN START */

.ktdoorh2 {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
}


.ktdoordetail {
    text-align: center;
    padding: 1.3em;
    font-size: 1.2rem;
    font-weight: 400;
}

.ktdoordetail1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.img3 {
    margin-bottom: 30px;
    padding: 20px;
    justify-content: space-evenly;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.img3 img {
    /* display: block; */
    border-radius: 1.8rem;
    border: 1px solid #ffff99;
    margin: 10px 3px;
    height: 420px;
    width: 431px;
    /* overflow: hidden; */
    object-fit: cover;
    /* object-position: 80% 100%; */
}

/* KITCHEN END */
/* DRESSING ROOM START  */


.drdoorh2 {
    text-align: center;
    padding-top: 2.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}


.drdoordetail {
    text-align: center;
    padding: 1.3em;
    font-size: 1.2rem;
    font-weight: 400;
}

.drdoordetail1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.img4 {
    margin-bottom: 30px;
    padding: 20px;
    justify-content: space-evenly;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

.img4 img {
    /* display: block; */
    border-radius: 1.8rem;
    border: 1px solid black;
    margin: 10px 3px;
    height: 420px;
    width: 431px;
    /* overflow: hidden; */
    object-fit: cover;
    /* object-position: 80% 100%; */
}

/* DRESSING ROOM END  */
/* OTHER FEATURES START */

.otdoorh2 {
    text-align: center;
    padding-top: 2.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}


.otdoordetail {
    text-align: center;
    padding: 1.3em;
    font-size: 1.2rem;
    font-weight: 400;
}

.otdoordetail1 {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.img5 {
    margin-bottom: 30px;
    padding: 20px;
    justify-content: space-evenly;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: nowrap;
    /* overflow: hidden; */

}

.img5 img {
    /* display: block; */
    border-radius: 1.8rem;
    border: 1px solid #ffff99;
    margin: 10px 3px;
    height: 420px;
    width: 300px;
    /* overflow: hidden; */
    object-fit: cover;
    /* object-position: 80% 100%; */
}


/* OTHER FEATURES END */


/* ABOUT US END */
/* SERVICES START */


.serdetail {
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 2rem;
    text-align: center;
    word-spacing: 0.2rem;
}

.serdetail01 {
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: italic;
    padding: 0.3rem auto;
    text-align: center;
    word-spacing: 1px;
}

.serdetail02 {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.2rem;
    text-align: center;
    word-spacing: 2px;
}



/* SERVICESIMG_START */
/* LEFT IMG LAYOUT START */


.serimgdetail {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    overflow: auto;
    height: 680px;
}

.imgdetails {
    position: relative;
    padding: 2rem;

}

.imgdetails2 {
    /* position: relative; */
    width: 443px;
    height: 296px;
    border-radius: 1.9rem;
    border: 1px solid#ffff99;

}

.imgdetails1 {
    position: relative;
    position: absolute;
    width: 443px;
    height: 296px;
    border-radius: 1.9rem;
    border: 1px solid#ffff99;
    margin: 9rem;
}

.imgpara {
    text-align: center;
    height: 420px;
    width: 560px;
    padding: 0 2em;
}

.imgpara1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
}

#imgpara01 {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 200;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: right;
    padding: 0 2rem;
}



.imgpara h5 {
    background-color: #ffff99;
    color: black;
    display: inline-block;
    padding: 0.6rem 0;
    border-radius: 1.9rem;
    border: 1px solid#ffff99;
    width: 420px;
    height: 47px;
    margin: 3rem 0;
}

#astroCelebrations {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
}


/* LEFT IMG LAYOUT END */
/* SERVICESIMG_END */

/* BUSSINESSS START */
/* RIGHT IMG LAYOUT START */





/* RIGHT ING LAYOUT END */
/* BUSSINESSS START */



/* PARTY START */


.partyimgdetail {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    overflow: auto;
    height: 700px;
}

.partyimgdetails {
    position: relative;
    padding: 2rem;

}

.imgdetails001 {
    /* position: relative; */
    width: 443px;
    height: 296px;
    border-radius: 1.9rem;
    border: 1px solid#ffff99;

}

.imgdetails002 {
    position: relative;
    position: absolute;
    width: 443px;
    height: 296px;
    border-radius: 1.9rem;
    border: 1px solid#ffff99;
    margin: 9rem;
}

.partyimgpara {
    text-align: center;
    height: 620px;
    width: 560px;
    padding: 0 2em;
}

.partyimgpara1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

#partyimgpara2 {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 200;
    word-spacing: 1px;
    letter-spacing: 1px;
    padding: 0 2rem;
}



.partyimgpara h5 {
    background-color: #ffff99;
    /* color: black; */
    display: inline-block;
    padding: 0.6rem 0;
    border-radius: 1.9rem;
    border: 1px solid#ffff99;
    width: 420px;
    height: 47px;
    margin: 3rem 0;

}

#astroCelebrations1 {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
}

/* PARTY END */
/* OTHER START */




.otimgdetail {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row-reverse; */
    overflow: auto;
    height: 610px;
}

.otimgdetails {
    position: relative;
    padding: 0 3rem;
}

.imgdetails0002 {
    position: relative;
    width: 443px;
    height: 296px;
    border-radius: 1.9rem;
    border: 1px solid#ffff99;
    margin: 9rem;
}

.imgdetails0001 {
    position: relative;
    position: absolute;
    width: 443px;
    height: 296px;
    border-radius: 1.9rem;
    border: 1px solid#ffff99;

}

.otimgpara {
    text-align: center;
    height: 420px;
    width: 560px;
    padding: 0 2em;
    letter-spacing: 1px;
    padding: 0 2rem;

}

.otimgpara_01 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;

}

#otimgpara_02 {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 200;
    word-spacing: 1px;
    letter-spacing: 1px;
    text-align: left;
    padding: 0 2rem;
}



.otimgpara h5 {
    background-color: #ffff99;
    color: black;
    display: inline-block;
    padding: 0.6rem 0;
    border-radius: 1.9rem;
    border: 1px solid#ffff99;
    width: 400px;
    height: 47px;
    margin: 3rem 0;
}

#astroCelebrations {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
}



/* OTHER END */
/* SERVICES END */
/* FAQS DETAIS START */


/* START FAQSIMAGES */
.fqasimg {
    position: relative;
    margin: 2em auto;
    width: 100%;
}

.fqasimg1 {
    object-fit: cover;
    object-position: 90% 40%;
    width: 100%;
    height: 45vh;
}

.fqasimg2 {
    position: absolute;
    text-align: center;
    top: 50%;
    color: white;
    width: 100%;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 3rem;
    word-spacing: 3px;
}


/* END FAQSIMAGES */
/* START DETAIL */


.detailfaqs {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.detailfaqs div {
    width: 70%;
    padding: 1.7rem;

}

.detailfaqs h3 {
    font-size: 2rem;
    padding: 0.2rem;
}

.detailfaqs p {
    font-size: 1.2rem;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* END DETAIL */
/* FAQS DETAIS END */
/* BOOK START */

.formbody {
    padding: 2rem;
}



.mainform2 {
    color: black;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-direction: row;
    overflow: hidden;
    padding-bottom: 3rem;
    margin: 0 2.5rem;
}


.form2 {
    background-color: white;
    text-align: left;
    padding: 30px;
    /* border: 1px solid #000; */
    border-radius: 30px;
    margin: 1rem auto;
    font-style: normal;
    width: 621px;
    height: 531px;

}

.form2 input {
    border-radius: 30px;
    background: rgba(221, 191, 128, 0.5);
    width: 559px;
    height: 31px;
    margin: 1rem 0;
    border: none;
    padding-left: 10px;

}

.form2 label {
    font-size: 16px;
    height: 31px;
    margin: 20px 0;
    /* border: 1px solid red; */

}

.maindate2 {
    display: flex;
    align-items: flex-start;
}

#checkbox01 {
    width: 1.9rem;
    border-radius: 5px;
    margin-left: 3rem;
    /* border: 2px solid red; */
    background-color: rgba(221, 191, 128, 0.5);
}

#checkbox02 {
    /* display: block; */
    border-radius: 8px;
    margin-left: 0.1rem;
    margin-bottom: 20px;
}

#date01 {
    width: 5.8rem;
    border-radius: 30px;
    margin: 15px 4px;
    text-align: center;
}

#submit01 {
    background: rgba(221, 191, 128, 0.5);
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    width: 177px;
    margin: 1em auto;
}



/* BOOK END */
/* FOOTER START  */

.container {
    display: block;
    display: flex;
    padding-top: 2rem;
    justify-content: space-around;
    overflow: hidden;

    align-items: center;
}

.container div {
    text-decoration: none;
    color: black;
    font-weight: 200;
    font-size: 1rem;
    text-align: center;

}

.astro {
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-content: center;

}

/* FOOTTER END */